.calc-history{
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 400px;
    height: 90vh;
    border: 1px solid rgb(255, 6, 234);
    color: rgb(255, 126, 244);
    padding: 20px;
    border-radius: 2rem;
    overflow-y:scroll;
    z-index: 2 ;
}